p Hi #{nom}, #{prenom}
p Welcome to Mars, the #{adresse} planet.

Image Header

p Merci #{prenom} pour votre commande !p
  img(style='display: block; margin-left: auto; margin-right: auto;', src='https://quadratik.fr/images/logo_black.svg', alt='Logo Quadratik.fr', width='150', height='149')
hr
h2 Confirmation de la commande n° X sur Quadratik.fr
p
  span(style='font-size: 12pt;') Bonjour,
  br
  | ​
  br
  | Nous vous remercions pour votre commande. Nous allons prochainement vous tenir informé par mail de son expédition. Vous pouvez suivre l'avancement de la commande dans Votre commande sur Quadratik.fr.
  br
  | ​
hr
p
  strong Détail de la commande
p
  | 1 x Pack 5 Woodik | 264 euros
  br
  | 1 x Frais de ports | 12 euros
  br
  | ​
  code
  br
  | TOTAL (TTC) | 276 euros
  br
  | ​
hr
p
  strong Livraison
p Votre commande va être expédiée à l'adresse suivante :
p
  | PHILIPPE BRASSART
  br
  | 3 residence Pasteur
  br
  | 59780 Camphin-en-Pévèle
  br
  | ​
hr
p
  strong Transaction
p
  | Mode de paiement : Carte bancaire (10/2019)
  br
  | Id : e5tn9d8x
  br
  | Session : sXyz5nQlqSsa1Cqm9ZrmaWkT5AK3LFeh
  br
  | ​
  br
  | Nous vous remercions pour votre confiance accordée à Quadratik.fr !
  br
  | A bientôt !
  br
  | ​
  br
  | L'équipe de Quadratik.fr.
p
  span(style='font-size: 8pt;')
    | Cet e-mail est un accusé de réception de votre commande et vaut confirmation du contrat d'achat. Un e-mail confirmant l'expédition de vos articles vous sera envoyé prochainement.
